<body class="text-center" style="width: 100%; height: 881px">
  <main class="form-signin">
    <form [formGroup]="registerForm">
      <h1 class="h3 mb-3 fw-normal">Kayıt ol</h1>

      <div class="mb-3">
        <div class="form-floating">
          <input
            formControlName="firstName"
            type="text"
            class="form-control"
            id="floatingName"
            placeholder="Adınızı giriniz"
          />
          <label for="floatingName">Ad</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input
            formControlName="lastName"
            type="text"
            class="form-control"
            id="floatingLastName"
            placeholder="Soyadınızı giriniz"
          />
          <label for="floatingLastName">Soyad</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">E-mail</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Parola</label>
        </div>
      </div>

      <button
        class="w-100 btn btn-lg btn-primary"
        type="submit"
        (click)="register()"
      >
        Kayıt ol
      </button>
      <p class="mt-5 mb-3 text-muted">
        Metehan Özalp Bilgisayar Mühendisliği Uygulamarı I Projesi &copy; 2021
      </p>
    </form>
  </main>
</body>
