<!-- <div>
  <caption>
    Ödeme İşlemleri
  </caption>
  <div class="icons">
    <img src="https://img.icons8.com/color/48/000000/visa.png" />
    <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
    <img src="https://img.icons8.com/color/48/000000/maestro.png" />
  </div>
  <select
    (change)="cardSelectChangeHandler($event)"
    class="form-select"
    aria-label="Default select example"
  >
    <option selected>Kredi Kartları</option>
    <option *ngFor="let cards of cards" value="{{ cards.id }}">
      Kayıtlı Kart Numaraları : {{ cards.cardNumber }}
    </option>
  </select>
  <div class="mb-3 row">
    <div class="col-md-4">
      <label for="cardNumber" class="form-label"
        >Kredi Kartı Numaranızı Giriniz :</label
      >
    </div>
    <div class="col-md-8">
      <input
        [(ngModel)]="card.cardNumber"
        type="text"
        class="form-control"
        id="cardNumber"
        placeholder="örn: 8109771495247556"
      />
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-md-4">
      <label for="firstName" class="form-label">Kart Sahibinin Adı : </label>
    </div>
    <div class="col-md-8">
      <input
        [(ngModel)]="card.firstName"
        type="text"
        class="form-control"
        id="firstName"
        placeholder="örn: Metehan"
      />
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-md-4">
      <label for="lastName" class="form-label">Kart Sahibinin Soyadı : </label>
    </div>
    <div class="col-md-8">
      <input
        [(ngModel)]="card.lastName"
        type="text"
        class="form-control"
        id="lastName"
        placeholder="örn: Özalp"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="cvv" class="form-label">Güvenlik kodu : </label>
        <input
          [(ngModel)]="card.cvv"
          type="text"
          class="form-control"
          id="cvv"
          placeholder="örn: 123"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="expirationDate" class="form-label"
          >Son Kullanım Tarihi :
        </label>
        <input
          [(ngModel)]="card.expirationDate"
          type="text"
          class="form-control"
          id="expirationDate"
          placeholder="örn: 20/27"
        />
      </div>
    </div>
    <div class="form-group w-100">
      <div class="checkbox mb-3">
        <label>
          <input
            type="checkbox"
            [(ngModel)]="saveCard"
            id="saveCard"
            name="saveCard"
            value="saveCard"
          />
          Save Card
        </label>
      </div>
    </div>
  </div>
  <div>
    <button (click)="addRental()" type="button" class="btn btn-primary">
      İşlemi Tamamla
    </button>
  </div>
</div> -->

<div class="content">
  <div class="col-md-12">
    <caption>
      Ödeme İşlemleri
    </caption>
    <div class="icons">
      <img src="https://img.icons8.com/color/48/000000/visa.png" />
      <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
      <img src="https://img.icons8.com/color/48/000000/maestro.png" />
    </div>
    <div class="card">
      <div class="card-header"><h5>Kart Bilgileri</h5></div>
      <div class="card-body">
        <div class="mb-3">
          <label>Kayıtlı Kartlar</label>
          <select
            (change)="cardSelectChangeHandler($event)"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected>Kullanıcıya Ait Kayıtlı Kartlar</option>
            <option *ngFor="let cards of cards" value="{{ cards.id }}">
              Cart Numarası : {{ cards.cardNumber }}
            </option>
          </select>
        </div>
        <form [formGroup]="paymentAddForm">
          <div class="mb-3">
            <label for="cardNumber">Kart Numarası</label>
            <div class="form-group">
              <input
                type="text"
                id="cardNumber"
                [(ngModel)]="card.cardNumber"
                formControlName="cardNumber"
                class="form-control"
                placeholder="Kart Numarası"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="firstName">Kart üzerindeki isim</label>
            <div class="form-group">
              <input
                type="text"
                id="firstName"
                [(ngModel)]="card.firstName"
                formControlName="firstName"
                class="form-control"
                placeholder="İsim"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="lastName">Kart üzerindeki soyisim</label>
            <div class="form-group">
              <input
                type="text"
                id="lastName"
                [(ngModel)]="card.lastName"
                formControlName="lastName"
                class="form-control"
                placeholder="Soyisim"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="cvv">CVV</label>
            <div class="form-group">
              <input
                type="number"
                id="cvv"
                [(ngModel)]="card.cvv"
                formControlName="cVV"
                class="form-control"
                placeholder="CVV"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="expirationDate">Son Kullanım Tarihi</label>
            <div class="form-group">
              <input
                type="text"
                id="expirationDate"
                [(ngModel)]="card.expirationDate"
                formControlName="expirationDate"
                class="form-control"
                placeholder="Son Kullanım Tarihi"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="checkbox mb-3">
          <label>
            <input
              type="checkbox"
              [(ngModel)]="saveCard"
              id="saveCard"
              name="saveCard"
              value="saveCard"
            />
            Kartı Kaydet</label
          >
        </div>
        <button class="btn btn-fill btn-primary" (click)="addRental()">
          Ödemeyi Tamamla
        </button>
      </div>
    </div>
  </div>
</div>
