<div class="container" style="width: 100%; height: 100%">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group" style="margin-top: 20px">
        <li class="list-group-item"><app-car-filter></app-car-filter></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div *ngIf="dataLoaded == false" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div
        style="margin-top: 20px; margin-bottom: 1rem"
        class="row"
        *ngIf="dataLoaded == true"
      >
        <div class="col-md-10">
          <input
            type="text"
            [(ngModel)]="filterCarText"
            class="form-control"
            id="filterColorText"
            placeholder="Araba adı giriniz"
          />
        </div>
        <div
          *ngIf="filterCarText"
          class="alert alert-success"
          style="margin-top: 1rem"
        >
          <b>{{ filterCarText }}</b> için arama sonuçları
        </div>
        <div
          *ngFor="let car of cars | carFilter: filterCarText"
          class="card"
          style="width: 18rem; margin-right: 0.5rem; margin-top: 0.5rem"
        >
          <img
            *ngIf="car.imagePath != null"
            src="https://localhost:44326/{{ car.imagePath }}"
            class="card-img-top"
            style="height: 100%; width: 100%; object-fit: contain"
            alt="..."
          />
          <img
            *ngIf="car.imagePath == null"
            src="https://localhost:44326/images/defaultCar.png"
            class="card-img-top"
            style="height: 100%; width: 100%; object-fit: contain"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ car.carName }}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Marka: {{ car.brandName }}</li>
            <li class="list-group-item">Renk: {{ car.colorName }}</li>
            <li class="list-group-item">Model Yılı: {{ car.modelYear }}</li>
            <li class="list-group-item">Fiyat: {{ car.dailyPrice }} ₺</li>
            <li class="list-group-item">
              Findeks Puanı: {{ car.minFindeksScore }}
            </li>
          </ul>
          <section style="float: top; margin-top: 0.5rem">
            <a routerLink="/cars/cardetail/{{ car.id }}" class="btn btn-primary"
              >Detaylar</a
            >
            <a
              routerLink="/cars/update/{{ car.id }}"
              style="margin-top: -67px; margin-left: 173px; width: 90px"
              class="btn btn-primary"
              >Güncelle</a
            >
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<!-- <div class="row">
  <div class="col-md-3">
    <ul class="list-group" style="margin-top: 20px">
      <li class="list-group-item"><app-car-filter></app-car-filter></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="container-fluid d-flex justify-content-center">
      <div class="row mt-5">
        <div class="col-sm-4" *ngFor="let car of cars">
          <div class="card">
            <img
              *ngIf="car.imagePath != null"
              src="https://localhost:44326/{{ car.imagePath }}"
              class="card-img-top"
              style="height: 250px; width: 100%px; object-fit: contain"
              alt="..."
            />
            <img
              *ngIf="car.imagePath == null"
              src="https://localhost:44326/images/defaultCar.png"
              class="card-img-top"
              style="height: 100%; width: 100%; object-fit: contain"
              alt="..."
            />
            <div class="card-body pt-0 px-0">
              <div class="d-flex flex-row justify-content-between mb-0 px-3">
                <p class="text-muted mt-1">Günlük Fiyat</p>
                <h6>{{ car.dailyPrice | currency: "₺" }}</h6>
              </div>
              <hr class="mt-2 mx-3" />
              <div class="d-flex flex-row justify-content-between px-3 pb-4">
                <div class="d-flex flex-column">
                  <span class="text-muted">Fuel Efficiency</span>
                </div>
                <div class="d-flex flex-column">
                  <h5 class="mb-0">8.5/7.1</h5>
                  <small class="text-muted text-right">(city/Hwy)</small>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-between p-3 mid">
                <div class="d-flex flex-column">
                  <small class="text-muted mb-1">ENGINE</small>
                  <div class="d-flex flex-row">
                    <img
                      src="https://imgur.com/iPtsG7I.png"
                      width="35px"
                      height="25px"
                    />
                    <div class="d-flex flex-column ml-1">
                      <small class="ghj">1.4L MultiAir</small
                      ><small class="ghj">16V I-4 Turbo</small>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <small class="text-muted mb-2">HORSEPOWER</small>
                  <div class="d-flex flex-row">
                    <img src="https://imgur.com/J11mEBq.png" />
                    <h6 class="ml-1">135 hp</h6>
                  </div>
                </div>
              </div>
              <small class="text-muted key pl-3">Standard key Features</small>
              <div class="mx-3 mt-3 mb-2">
                <button type="button" class="btn btn-danger btn-block">
                  <small>BUILD & PRICE</small>
                </button>
              </div>
              <small class="d-flex justify-content-center text-muted"
                >*Legal Disclaimer</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
