<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5>Araç Güncelle</h5></div>
      <div class="card-body">
        <form [formGroup]="carUpdateForm">
          <div class="mb-3">
            <label for="carName">Araç adı</label>
            <div class="form-group">
              <input
                type="text"
                id="carName"
                formControlName="carName"
                class="form-control"
                placeholder="Araç adı"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="brandId">Marka Id</label>
            <div class="form-group">
              <input
                type="number"
                id="brandId"
                formControlName="brandId"
                class="form-control"
                placeholder="Marka Id"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="colorId">Renk Id</label>
            <div class="form-group">
              <input
                type="number"
                id="colorId"
                formControlName="colorId"
                class="form-control"
                placeholder="Renk Id"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="modelYear">Model Yılı</label>
            <div class="form-group">
              <input
                type="number"
                id="modelYear"
                formControlName="modelYear"
                class="form-control"
                placeholder="Model yılı"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="dailyPrice">Günlük Fiyat</label>
            <div class="form-group">
              <input
                type="number"
                id="dailyPrice"
                formControlName="dailyPrice"
                class="form-control"
                placeholder="Günlük fiyat"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="descriptions">Açıklama</label>
            <div class="form-group">
              <input
                type="text"
                id="descriptions"
                formControlName="descriptions"
                class="form-control"
                placeholder="Açıklama"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="findeksScore">Findeks Puanı</label>
            <div class="form-group">
              <input
                type="number"
                id="findeksScore"
                formControlName="minFindeksScore"
                class="form-control"
                placeholder="Findeks Puanı"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="update()">
          Güncelle
        </button>
      </div>
    </div>
  </div>
</div>
